body {
	background-image: url("moviemagic.jpg");
	background-attachment: fixed;

}

.navbar-default {
	color: black;
	background-color: #7BDDE5;
	border-bottom-color: #123A3A;
	padding-top: 10px;
	padding-bottom: 10px;


}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	color: black;
	font-size: 45px;
	font-family: 'Limelight', cursive;
	margin-left: 15px;
	padding-top: 26px;

}



.form-control {
	border-color: black;

}

.btn-default{
	border-color: black;

}

.panel-default {
	border-color: black;

}

.panel-default>.panel-heading{
	background-color: #7BDDE5;
	border-bottom-color: #123A3A;
	font-family: 'helvetica';

}

h3.headerButton {
	text-decoration: underline;

}

h3.headerButton:hover {
	font-style: italic;
	color: #7BDDE5;

}

p.youtubeButton:hover {
	font-style: italic;
	color: #7BDDE5;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #7BDDE5;
  border-top: black;

}

.footerUpdate {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #7BDDE5;
  border-top: black;

}

p {
  font-color: black;
  font-family: 'helvetica';
  font-size: 18px;
  margin-top: 25px;

}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 300px;
	left: 25%;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

}

.modal-content {
	background-color: white;
	padding: 10px;
	width: 50%;

}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;

}

h2{

}
